
  
<h2>Info employees</h2>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Wage</th>
    </tr>
  
    <tr  *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.age }}</td>
      <td> {{ employee.email }} </td>
      <td> {{ employee.wage}}</td>
      
      <td>
      <!-- <button  class="btn btn-success" (click)="updateEmployee(employee._id)">Delete</button>  -->    
      <button  class="btn btn-danger" (click)="deleteEmployee(employee._id)">Delete</button>
    
      
       
      </td>
      </tr>
 
  
  </table>
