

<div class="container">
  <div class="class col-6">
<h1 >Welcome to my first MEAN stack site !  {{userName}}</h1>
<div class="right"><button type="submit" (click)="logout()" class="btn btn-default">Logout</button></div>
</div>

 <ul class="nav navbar-nav">
   <li>
  <a routerLink="/login-form">login</a>
  </li>
   <li>
  <a routerLink="/register-form">register</a>
  </li>
   <li>
    <a routerLink="/employee">employee</a>
  </li>
  <li>
  <a routerLink="/product">product</a>
  </li>
  
 </ul>
<br>

<router-outlet></router-outlet>
<app-footer></app-footer>
</div>


